bin/**
__pycache__/**
.vscode/**

# Antlr reference materials
**/The_Definitive_ANTLR4_Reference.pdf
**/.antlr/**
**/JavaParser.g4
**/JavaLexer.g4
**/C.g4
**/*.bnf

# Tokenizer reference materials
**/Maximal-munch tokenization in linear time.pdf
