bin/**
**/__pycache__/
.vscode/**
.cache/**
tests/bin/*
compile_commands.json
**/a.out
**/*.swp
**/infer-out/**

daic/daic

# Tokenizer reference materials
**/Maximal-munch tokenization in linear time.pdf
