bin/**
**/__pycache__/
.vscode/**
.cache/**
tests/bin/*
compile_commands.json
**/a.out
**/*.swp
**/infer-out/**

# Object files
*.so
*.o

# Python venv
bin
include
lib
lib64
pyvenv.cfg

# Tokenizer reference materials
**/Maximal-munch tokenization in linear time.pdf
